<div class="row">
    <div class="col-md-8">
      <div class="media">
        <br />
        <% avatar_url = User.avatar_url(@user, 128) %>
        <% unless avatar_url.nil? %>
              <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
            <% end %>
        <div class="media-body">
          <h2 class="media-heading"><%= @user.name %></h2>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          </small>
        </div>
      </div>
    </div>
  </div>

<% if @user.posts.empty? && @user.comments.empty? %>
<h2><%= "#{@user.name}" %> hasn't made any post or comments, yet! </h2>
<% else %>
<h2>Posts</h2>

<% if @user.posts.empty? %>
<%= "#{@user.name}" %> hasn't made any posts, yet.
<% else %>
<%= render @user.posts %>
<% end %>
<h2>Comments</h2>
<% if @user.comments.empty? %>
<%= "#{@user.name}" %> hasn't made any comments.
<% else %>
<%= render @user.comments %>
<% end %>
<% end %>
