<br>
<div class="jumbotron" style="background:transparent !important">
   <h1><span class='magicFont'>MTG</span>-It</h1>
   <p><%= link_to "Reddit", "https://www.reddit.com/" %>&trade;..., but for Magic!</p>
   <p>
       
       <% if current_user %>
           <p>Welcome back, <%= "#{current_user.name}" %>! Why not check out some <%= link_to "cards!", topics_path %></p>
       <% else %>
           <%= link_to "Sign In", new_session_path %> or
           <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
       <%end%>
   </p>
</div>
 
<div class="row">
  <div class="col-md-4">
     <h2>WIP 1 </h2>
     <p>**Link of latest WotC news?**</p>
  </div>
  <div class="col-md-4">
     <h2>WIP 2</h2>
     <p>**Dynamic redirect to latest post? Waiting for UX Reply**</p>
  </div>
  <div class="col-md-4">
     <h2>WIP 3</h2>
     <p>Completed: Added Gravatar Compliance, and added 4th role</p>
  </div>
</div>